<div class="row">
  <div class="col-lg-6">
  </div>
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-default" routerLink="/user/add">Add User</button>
  </div>
</div>
<div class="mt-5">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead style="font: bold;">
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData;let index=index;">
        <td>{{index+1}}</td>
        <td>
          <span class="text-wrap">{{user.firstName}}</span>
        </td>
        <td>
          <span class="text-wrap">{{user.lastName}}</span>
        </td>
        <td>
          <span class="text-wrap">{{user.email}}</span>
        </td>
        <td>
          <span class="text-wrap">{{user.phone}}</span>
        </td>
        <td>
          <span class="text-wrap">{{user.role}}</span>
        </td>
        <td>
          <span class="text-wrap">{{user.status}}</span>
        </td>
        <td>
          <span class="text-wrap">
            <a class="pointer" (click)="view($event,user,viewcontent)">
              <span class="oi oi-share-boxed" title="view" aria-hidden="true"></span>
            </a> /
            <a class="pointer" (click)="edit($event,user)">
              <span class="oi oi-pencil" title="edit" aria-hidden="true"></span>
            </a>/
            <a class="pointer" (click)="delete(content,$event,user,index)">
              <span class="oi oi-trash" title="delete" aria-hidden="true"></span>
            </a>
          </span>
        </td>
      </tr>
  </table>
  <ng-template #content let-cl="close" let-di="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
      </div>
      <div class="modal-body">
        <p>Do you want to delete record ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="margin-right: 61%;" (click)="di('Dismissed from dismiss button')">Yes</button>
        <button type="button" class="btn btn-primary" (click)="cl('Closed from Close button')">No</button>
      </div>
    </div>
  </ng-template>
  <ng-template #viewcontent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">User Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="accordion pb-15 col-xs-12 col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="">
            <label for="personalDetails">
              <strong>Personal Details</strong>
            </label>
          </div>
          <form class="row detail">
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">First Name</label>
              <div class="">
                <label for="firstName">
                  <strong>{{userVewData.firstName}}</strong>
                </label>
              </div>
            </div>

            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Last Name</label>
              <div class="">
                <label for="lastName">
                  <strong>{{userVewData.lastName}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Gender</label>
              <div class="">
                <label for="gender">
                  <strong>{{userVewData.sex}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Email</label>
              <div class="">
                <label for="email ">
                  <strong>{{userVewData.email}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Mobile Number</label>
              <div class="">
                <label for="mobileNumber ">
                  <strong>{{userVewData.phone}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Other Phone</label>
              <div class="">
                <label for="otherPhone">
                  <strong>{{userVewData.otherPhone}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Alias Name</label>
              <div class="">
                <label for="aliasName">
                  <strong>{{userVewData.aliasName}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Country</label>
              <div class="">
                <label for="country ">
                  <strong>{{userVewData.countryName}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="status">State</label>
              <div class="">
                <label for="state ">
                  <strong>{{userVewData.stateName}}</strong>
                </label>
              </div>

            </div>

            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="city">City</label>
              <div class="">
                <label for="city">
                  <strong>{{userVewData.cityName}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="pinCode">Pin Code</label>
              <div class="">
                <label for="pinCode">
                  <strong>{{userVewData.pinCode}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="Land Mark">Plot No/Land Mark</label>
              <div class="">
                <label for="Plot No/Land Mark">
                  <strong>{{userVewData.street}}</strong>
                </label>
              </div>
            </div>
           
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="updatedAt">updatedAt</label>
              <div class="">
                <label for="updatedAt">
                  <strong>{{userVewData.updatedAt}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="status">Status</label>
              <div class="">
                <label for="status">
                  <strong>{{userVewData.status}}</strong>
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="">
            <label for="licencing">
              <strong>Hire Details</strong>
            </label>
          </div>
          <form class="row detail">
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Hire Date</label>
              <div class="">
                <label for="hireDate">
                  <strong>{{userVewData.hireDate}}</strong>
                </label>
              </div>
            </div>

            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Hire End Date</label>
              <div class="">
                <label for="hireEndDate">
                  <strong>{{userVewData.hireEndDate}}</strong>
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="">
            <label for="Documents">
              <strong>Documents</strong>
            </label>
          </div>
          <form class="row detail">
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">User photo</label>
              <div class="">
                <label for="driverphoto">
                  <strong>{{userVewData.photo}}</strong>
                </label>
              </div>
            </div>

            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Proof of address</label>
              <div class="">
                <label for="proofofaddress">
                  <strong>{{userVewData.proofOfAddress}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Agreement </label>
              <div class="">
                <label for="policedisclosure ">
                  <strong>{{userVewData.aggrement1}}</strong>
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="">
            <label for="attributes">
              <strong>Bank Account Details</strong>
            </label>
          </div>
          <form class="row detail">
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Account Number</label>
              <div class="">
                <label for="accountNo">
                  <strong>{{userVewData.accountNo}}</strong>
                </label>
              </div>
            </div>

            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="bankName">Bank Name</label>
              <div class="">
                <label for="bankName">
                  <strong>{{userVewData.name}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="iffc">IFSC Code</label>
              <div class="">
                <label for="iffc">
                  <strong>{{userVewData.ifsc}}</strong>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
</div>
<router-outlet></router-outlet>