<div class="row">
  <div class="col-lg-6">
  </div>
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-default" routerLink="/surge/add">Add Surging Price</button>
  </div>
</div>
<div class="mt-5">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead style="font: bold;">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Factor</th>
        <th>Surge Start Date</th>
        <th>Surge Expiry Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let surge of surgingData;let index=index;">
        <td>{{index+1}}</td>
        <td>
          <span class="text-wrap">{{surge.name}}</span>
        </td>
        <td>
          <span class="text-wrap">{{surge.factor}}</span>
        </td>
        <td>
          <span class="text-wrap">{{surge.surgeExpiryStartDate}}</span>
        </td>

        <td>
          <span class="text-wrap">{{surge.surgeExpiryEndDate}}</span>
        </td>
        <td>
          <span class="text-wrap">{{surge.status}}</span>
        </td>
        <td>
          <span class="text-wrap">
            <a class="pointer" (click)="view($event,surge,viewcontent)">
              <span class="oi oi-share-boxed" title="view" aria-hidden="true"></span>
            </a> /
            <a class="pointer" (click)="edit($event,surge)">
              <span class="oi oi-pencil" title="edit" aria-hidden="true"></span>
            </a>/
            <a class="pointer" (click)="delete(content,$event,surge)">
              <span class="oi oi-trash" title="delete" aria-hidden="true"></span>
            </a>
          </span>
        </td>
      </tr>
  </table>
  <ng-template #content let-cl="close" let-di="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
      </div>
      <div class="modal-body">
        <p>Do you want to delete record ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="margin-right: 61%;" (click)="di('Dismissed from dismiss button')">Yes</button>
        <button type="button" class="btn btn-primary" (click)="cl('Closed from Close button')">No</button>
      </div>
    </div>
  </ng-template>
  <ng-template #viewcontent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Surge Pricing Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="accordion pb-15 col-xs-12 col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <form class="row detail">
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Surge PriceGroupName</label>
              <div class="">
                <label for="surgePriceGroupName">
                  <strong>{{surgeView.name}}</strong>
                </label>
              </div>
            </div>

            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">Surging Factor</label>
              <div class="">
                <label for="factor">
                  <strong>{{surgeView.factor}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">latitudeStart</label>
              <div class="">
                <label for="latitudeStart">
                  <strong>{{surgeView.latitudeStart}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">latitudeEnd</label>
              <div class="">
                <label for="latitudeEnd">
                  <strong>{{surgeView.latitudeEnd}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">longitudeStart</label>
              <div class="">
                <label for="longitudeStart">
                  <strong>{{surgeView.longitudeStart}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">longitudeEnd</label>
              <div class="">
                <label for="longitudeEnd">
                  <strong>{{surgeView.longitudeEnd}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">surgeExpiryStartDate</label>
              <div class="">
                <label for="surgeExpiryStartDate">
                  <strong>{{surgeView.surgeExpiryStartDate}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label class="control-label">surgeExpiryEndDate</label>
              <div class="">
                <label for="surgeExpiryEndDate">
                  <strong>{{surgeView.surgeExpiryEndDate}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="status">Status</label>
              <div class="">
                <label for="status">
                  <strong>{{surgeView.status}}</strong>
                </label>
              </div>

            </div>

            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="createdAt">createdAt</label>
              <div class="">
                <label for="createdAt">
                  <strong>{{surgeView.createdAt}}</strong>
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="updatedAt">updatedAt</label>
              <div class="">
                <label for="updatedAt">
                  <strong>{{surgeView.updatedAt}}</strong>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
</div>
<router-outlet></router-outlet>