<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="d-n-menu__logo-img">
        <img src="assets/viewlogo.png" width="80" height="45" alt="Taxi System">
    </span>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ng-template [ngIf]="authService.getMockResponse() || userLoginSuccess">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/booking" [routerLinkActive]="['active']">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/activityDashboard" [routerLinkActive]="['active']">Activity Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user" [routerLinkActive]="['active']">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/vendor" [routerLinkActive]="['active']">Vendor</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Price
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="/pricing" >Normal Pricing</a>
                        <a class="dropdown-item" routerLink="/surging" >Surging Pricing</a>
                    </div>
                </li>

                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/driver" (click)="setActive('Driver');">Driver</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cabs" [routerLinkActive]="['active']">Cabs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/rider" [routerLinkActive]="['active']">Rider</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Report
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Vendors Report</a>
                        <a class="dropdown-item" href="#">Drivers Report</a>
                        <a class="dropdown-item" href="#">Cabs Report</a>
                        <a class="dropdown-item" href="#">Trips Report</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Finance
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Account Riders</a>
                        <a class="dropdown-item" href="#">Account Vendors</a>
                        <a class="dropdown-item" href="#">Account Drivers</a>
                        <a class="dropdown-item" href="#">Account Settlements</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/delivery" [routerLinkActive]="['active']">Delivery System</a>
                </li>
                <li class="nav-item dropdown" style="position: relative;left: 135px;">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLogoutLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLogoutLink">
                        <a style="cursor: pointer" class="dropdown-item" (click)="logoutUser()">Logout</a>
                        <a class="dropdown-item" (click)="changePassword()">Change Passwords</a>
                    </div>
                </li>
            </ul>
        </div>
    </ng-template>
</nav>