agm-map {
  height: 500px;
}


* {
  font-family: Lato;
}

a {
  color: darkblue;
}

.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
border-right:0; 
box-shadow:0 0 0; 
border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}
/*
 server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}
.pointer {cursor: pointer;}
/* Specific css for <Alert Type> */
.alertsContainer{
  position: absolute;
  top: 100px;
  right: 20px;
}
.alertsContainer .alertsRow.<Alert Type>  {
  border: 1px solid #ffc549;
}

.alertsContainer .alertsRow.<Alert Type> .iconpanel {
  background:#ffc549;
  color: #fff;
}
.alertsContainer .alertsRow.<Alert Type> .messagepanel {
  color: #000;
  background: #fff;
}
.alertsContainer .alertsRow.<Alert Type> .closeicon {
  color: #000;
}
.alertsContainer .alertsRow.<Alert Type> .closeicon a {
  color: #000;
  text-decoration: none;
  font-size: 12px;
}
agm-map {
  height: 500px;
}


* {
  font-family: Lato;
}

a {
  color: darkblue;
}