<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="form-inline float-right">
        <label for="status" class="mr-sm-2">Role :</label>
        <div class="">
          <select class="form-control form-control-sm mb-2 mr-sm-2" id="role" (change)="selectChangeHandler($event)" [(ngModel)]="userData.role"
            #statusId="ngModel" name="role" required>
            <option *ngIf="baseApiService.isSupereme()" value="Supreme User" selected>Supreme User</option>
            <option *ngIf="baseApiService.isSupereme()" value="Super User" selected>Super User</option>
            <option value="Vendor">Vendor</option>
            <option value="View User">View User</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-md-3 col-lg-2 nav-left">
      <ul class="nav nav-pills nav-stacked flex-column" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="login-tab" data-toggle="pill" href="#login" role="tab" aria-controls="login" aria-expanded="true">Basic Details
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="personal_details-tab" data-toggle="pill" href="#personal_details" role="tab" aria-controls="personal_details"
            aria-expanded="true">Personal Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="hire_details-tab" data-toggle="pill" href="#hire_details" role="tab" aria-controls="hire_details"
            aria-expanded="true">Profile Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="documents-tab" data-toggle="pill" href="#documents" role="tab" aria-controls="documents" aria-expanded="true">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="advanced-tab" data-toggle="pill" href="#advanced" role="tab" aria-controls="advanced" aria-expanded="true">Advanced Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" id="account_details-tab" href="#account_details" role="tab" aria-controls="account_details"
            aria-expanded="true">Account Details</a>
        </li>
      </ul>
    </div>
    <div class="col-9 col-md-9 col-lg-10 nav-right">
      <!-- Tab panes -->
      <div class="tab-content">
        <div id="login" class="container tab-pane active fade show" role="tabpanel" aria-labelledby="login-tab">
          <form class="row" id="logins">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="form-group is-required-short">
                <label class="control-label">Email*</label>
                <input type="text" id="email" class="form-control" placeholder="" [(ngModel)]="userData.email" name="email" maxlength="60"
                  required>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="form-group is-required-short">
                <label class="control-label">Password*</label>
                <input type="password" id="password" class="form-control" placeholder="" [(ngModel)]="userData.password" name="password"
                  maxlength="60" required>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="form-group is-required-short">
                <label class="control-label">Mobile Number*</label>
                <input type="text" id="phone" class="form-control" placeholder="" [(ngModel)]="userData.phone" #phone="ngModel" name="phone"
                  required>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
              <label for="status">Status</label>
              <div class="">
                <select class="form-control" id="statusId" [(ngModel)]="userData.status" #statusId="ngModel" name="statusId" value="1" required>
                  <option value="1" selected>Active</option>
                  <option value="0">Inactive</option>
                </select>
              </div>
            </div>
            <div *ngIf="isVendor" class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Vendor Reg No*</label>
                  <input type="text" id="email" class="form-control" placeholder="" [(ngModel)]="userData.regNo" name="vendorRegistrationNo"
                    maxlength="60" required>
                </div>
              </div>
          </form>
        </div>
        <div id="personal_details" class="container tab-pane fade" role="tabpanel" aria-labelledby="personal_details-tab">
          <form #personalDetails="ngForm">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">First Name</label>
                  <input type="text" id="firstName" class="form-control" placeholder="" [(ngModel)]="userData.firstName" name="firstName" maxlength="60"
                    >
                </div>
              </div>
              <!-- Add here -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Last Name</label>
                  <input type="text" id="lastName" class="form-control" placeholder="" [(ngModel)]="userData.lastName" name="lastName" maxlength="60"
                    >
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group is-required-short">
                    <label class="control-label">Date Of Birth</label>
                    <my-date-picker name="dob" [options]="dobOptions" [(ngModel)]="userData.dob"></my-date-picker>
                  </div>
                </div>
              <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="gender">Gender</label>
                <div class="">
                  <select class="form-control" id="gender" [(ngModel)]="userData.sex" name="sex">
                    <option value='male'>Male</option>
                    <option value='female'>Female</option>
                    <option value='other'>other</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group is-required-short">
                    <label class="control-label">Father Name</label>
                    <input type="text" id="fatherName" class="form-control" placeholder="" [(ngModel)]="userData.fatherName" name="fatherName" maxlength="60"
                      >
                  </div>
                </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Other Phone</label>
                  <input type="text" id="otherphone" class="form-control" placeholder="" [(ngModel)]="userData.otherphone" #otherPhone="ngModel"
                    name="otherphone">
                </div>
              </div>

              <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="country">Country</label>
                <div class="">
                  <select class="form-control" id="country" [(ngModel)]="userData.countryId" name="country" #country="ngModel">
                    <option *ngFor="let country of countryList" [ngValue]="country.countriId">{{country.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="state">State</label>
                <div class="">
                  <select class="form-control" id="state" [(ngModel)]="userData.stateId" name="state">
                    <option *ngFor="let state of statesList" [ngValue]="state.stateId">{{state.stateName}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="city">City</label>
                <div class="">
                  <select class="form-control" id="city" [(ngModel)]="userData.cityId" #city="ngModel" name="city">
                    <option *ngFor="let city of cityList" [ngValue]="city.cityId">{{city.citieName}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Pin Code</label>
                  <input type="text" id="pinCode" class="form-control" placeholder="" [(ngModel)]="userData.zip" #pinCode="ngModel" name="pin"
                    >
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Plot No/Land Mark</label>
                  <input type="text" id="plotNumber" class="form-control" placeholder="" [(ngModel)]="userData.street" #landMark="ngModel"
                    name="streetAdd" >
                </div>
              </div>
              
            </div>
          </form>
        </div>
        <div id="hire_details" class="container tab-pane fade" role="tabpanel" aria-labelledby="hire_details-tab">
          <form #licencing="ngForm">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Date Of Joining</label>
                  <my-date-picker name="hireDate" [options]="hireDateOptions" [(ngModel)]="userData.hireDate" ></my-date-picker>
                </div>
              </div>
              <!-- Add here -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Date Of End</label>
                  <my-date-picker name="hireEndDate" [options]="expiryDateOptions" [(ngModel)]="userData.hireEndDate" ></my-date-picker>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Current Possition</label>
                  <input type="text" id="currentPossition" class="form-control" placeholder="" [(ngModel)]="userData.currentpossition" #pinCode="ngModel"
                    name="currentpossition" >
                </div>
              </div>
            </div>
          </form>
        </div>
        <div id="documents" class="container tab-pane fade" role="tabpanel" aria-labelledby="documents-tab">
          <form>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="driverPhoto">photo</label>
                  <label class="btn btn-default">
                    <input type="file" (change)="selectFile($event)" name="userPic" placeholder="No file chosen12444">
                  </label>

                  <!-- <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button> -->
                  <!-- <input type="file" #fileInput multiple (change)="uploadFileToActivity()" name="driverPhotos" [(ngModel)]="driverData.photo"/> -->
                  <!-- <input type="file" id="file" (change)="handleFileInput($event.target.files)" name="driverPhoto" [(ngModel)]="driverData.photo"> -->
                </div>
              </div>
              <!-- Add here -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="proofAddress">Proof of address</label>
                  <input type="file" id="proofAddress" (change)="selectFile($event)" name="proofOfAddress">
                  <div>
                    <label id="fileLabel">{{ userData.proofOfAddress || 'No file chosen'}}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="agreement">Agreement</label>
                  <input type="file" id="agreement" (change)="selectFile($event)" name="aggrement1">
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="policeDisclose">Police disclosure</label>
                  <input type="file" class="file-width" id="policeDisclose" (change)="selectFile($event)" name="policeDisclose">
                  <div>
                    <label id="fileLabel">{{ userData.policeDisclose || 'No file chosen'}}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="licencePhoto">Licence photo</label>
                  <input type="file" class="file-width" id="licencePhoto" (change)="selectFile($event)" name="licencePhoto">
                  <div>
                    <label id="fileLabel">{{ userData.licencePhoto || 'No file chosen'}}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="licencePaper">Licence paper</label>
                  <input type="file" class="file-width" id="licencePaper" (change)="selectFile($event)" name="licencePaper">
                  <div>
                    <label id="fileLabel">{{ userData.licencePaper || 'No file chosen'}}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="pcoLicence">PCO licence</label>
                  <input type="file" class="file-width" id="pcoLicence" (change)="selectFile($event)" name="pcoLicence">
                  <div>
                    <label id="fileLabel">{{ userData.pcoLicence || 'No file chosen'}}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="insurence">Insurance</label>
                    <input type="file" class="file-width" id="insurence" (change)="selectFile($event)" name="insurance">
                    <div>
                      <label id="fileLabel">{{ userData.insurance || 'No file chosen'}}</label>
                    </div>
                  </div>
                </div>
            </div>
          </form>
        </div>
        <div id="advanced" class="container tab-pane fade" role="tabpanel" aria-labelledby="advanced-tab">
          <form #advanced="ngForm">
            <div class="row">
              <!-- Add here -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Licence Number</label>
                  <input type="text" id="licenceNumber" class="form-control" placeholder="" [(ngModel)]="userData.licenceNumber"
                    name="licenceNumber" maxlength="60" >
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Licence Expiry Date</label>
                  <my-date-picker name="licenceExpiry" [options]="licenceExpiryDateOptions" [(ngModel)]="userData.licenceExpiry" ></my-date-picker>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Insurance Number</label>
                  <input type="text" id="insuranceNumber" class="form-control" placeholder="" [(ngModel)]="userData.insuranceNumber"
                    name="insuranceNumber" maxlength="60" >
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group is-required-short">
                  <label class="control-label">Insurance Expiry Date</label>
                  <my-date-picker name="insuranceExpiry" [options]="insuranceExpiryDateOptions" [(ngModel)]="userData.insuranceExpiry" ></my-date-picker>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div id="account_details" class="container tab-pane fade" role="tabpanel" aria-labelledby="account_details-tab">
          <form>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="file">Bank Name</label>
                  <input type="text" id="name" class="form-control" placeholder="" name="name" [(ngModel)]="userData.name">
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="file">Account No</label>
                  <input type="text" id="accountNo" class="form-control" placeholder="" name="accountNo" [(ngModel)]="userData.accountNo">
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="file">IFSC Code</label>
                  <input type="text" id="ifsc" class="form-control" placeholder="" name="ifsc" [(ngModel)]="userData.ifsc">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-md-12 col-sm-12 col-xs-12 m-t-10">
      <div class="float-right">
        <button type="button" class="btn btn-sm" routerLink="/user"> Cancel</button>
        <button type="button" *ngIf="!userId" (click)="addOrUpdateDriverData(true)" class="btn btn-primary btn-sm">
          <span class="letter-space-small"></span> Save
        </button>
        <button type="button" *ngIf="userId" (click)="addOrUpdateDriverData(false)" class="btn btn-primary btn-sm">
          <span class="letter-space-small"></span> Update
        </button>
      </div>
    </div>
  </div>
</div>